@charset "UTF-8";
/*couleurs*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FBC02D;
  margin: 0;
}

/* ajout de polices*/
@font-face {
  /* Ajout police Pacifico pour title-m1 */
  font-family: "Pacifico-Regular";
  src: url("Pacifico-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police Sriracha pour p "menu" du menu 1 */
  font-family: "Sriracha-Regular";
  src: url("Sriracha-Regular.ttf") format("truetype");
}
/* trouver et ajouter police title-m2 */
@font-face {
  /* Ajout police Display pour p "menu" du menu 2 */
  font-family: "DMSerifDisplay-Regular";
  src: url("DMSerifDisplay-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police Dancing pour title-m3 */
  font-family: "DancingScript-VariableFont_wght";
  src: url("DancingScript-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  /* Ajout police Kalam pour p "menu" des menus 3 et 4  */
  font-family: "Kalam-Regular";
  src: url("Kalam-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police pour title-m4  */
  font-family: "KaushanScript-Regular";
  src: url("KaushanScript-Regular.ttf") format("truetype");
}
header {
  width: 100%;
  display: flex;
  background-color: #009688;
}
header h1 {
  width: 100%;
  text-align: center;
  font-size: 42px;
}

footer {
  width: 100%;
  display: flex;
  background-color: #009688;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
}

nav {
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menus {
  width: 100%;
  display: flex;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}
.menus a.navmenu {
  text-decoration: none;
}
.menus__ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}
.menus__ligne-menu1 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: rgba(230, 188, 167, 0.74);
}
.menus__ligne-menu1 p {
  font-size: xx-large;
  font-family: "Sriracha-Regular";
  color: black;
}
.menus__ligne-menu1 .img1 {
  margin-top: 150px;
}
.menus__ligne-menu1 .title-m1 {
  font-family: "Pacifico-Regular";
  color: black;
}
.menus__ligne-menu2 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: rgba(245, 209, 223, 0.733);
}
.menus__ligne-menu2 p {
  font-size: xx-large;
  font-family: "DMSerifDisplay-Regular";
  color: rgba(163, 81, 40, 0.932);
}
.menus__ligne-menu2 .title-m2 {
  margin-top: 200px;
}
.menus__ligne-menu3 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: rgba(240, 236, 236, 0.603);
}
.menus__ligne-menu3 p {
  font-family: "Kalam-Regular";
  font-size: xx-large;
  color: #4299eb;
}
.menus__ligne-menu3 .title-m3 {
  font-family: "DancingScript-VariableFont_wght";
  margin-top: 200px;
  color: #4299eb;
}
.menus__ligne-menu4 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
}
.menus__ligne-menu4 p {
  font-family: "Kalam-Regular";
  font-size: xx-large;
  color: #21c42e;
}
.menus__ligne-menu4 .title-m4 {
  font-family: "KaushanScript-Regular";
  margin-top: 200px;
  color: #21c42e;
}

.prochainement {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.prochainement .btn {
  background-color: #009688;
  width: 200px;
  border-radius: 10px;
}
.prochainement h2 {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* pages secondaires */
.menu-ps {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* propre à menu1 */
  /* propre à menu2 */
  /* propre à menu3 */
  /* propre à menu4 */
}
.menu-ps__title-s {
  text-align: center;
  color: black;
  font-weight: bold;
}
.menu-ps__sectioncard-m1 {
  height: 900px;
  width: 600px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Sriracha-Regular";
  color: black;
  background-color: rgba(230, 188, 167, 0.74);
}
.menu-ps__sectioncard-m1 p {
  text-align: left;
}
.menu-ps__sectioncard-m1 p span {
  font-weight: bold;
}
.menu-ps__sectioncard-m1 .img1 {
  height: 80px;
  margin-top: 50px;
  margin-bottom: -80px;
}
.menu-ps__sectioncard-m1 .title-m1, .menu-ps__sectioncard-m1 .endtitle-m1 {
  font-family: "Pacifico-Regular";
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: black;
}
.menu-ps__sectioncard-m2 {
  height: 900px;
  width: 600px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "DMSerifDisplay-Regular";
  color: rgba(163, 81, 40, 0.932);
  background-color: rgba(245, 209, 223, 0.733);
}
.menu-ps__sectioncard-m2 p {
  text-align: left;
}
.menu-ps__sectioncard-m2 p span {
  font-weight: bold;
}
.menu-ps__sectioncard-m2 .title-m2 {
  /* ajouter police title M2 */
  /* ajouter variation de couleurs */
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: rgba(163, 81, 40, 0.932);
}
.menu-ps__sectioncard-m3 {
  height: 900px;
  width: 600px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Kalam-Regular";
  color: #4299eb;
  background-color: rgba(240, 236, 236, 0.603);
}
.menu-ps__sectioncard-m3 p {
  text-align: left;
}
.menu-ps__sectioncard-m3 p span {
  font-weight: bold;
}
.menu-ps__sectioncard-m3 .title-m3 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #4299eb;
}
.menu-ps__sectioncard-m4 {
  height: 900px;
  width: 600px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Kalam-Regular";
  color: #21c42e;
}
.menu-ps__sectioncard-m4 p {
  text-align: left;
}
.menu-ps__sectioncard-m4 p span {
  font-weight: bold;
}
.menu-ps__sectioncard-m4 .title-m4 {
  font-family: "KaushanScript-Regular";
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #21c42e;
}

@media all and (max-width: 1024px) {
  header, .menus {
    width: auto;
  }
}
@media all and (max-width: 900px) {
  .menus__ligne {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .menus__ligne-menu1 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu2 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu3 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu4 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
