body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FBC02D;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  background-color: #009688;
}
header h1 {
  width: 100%;
  text-align: center;
  font-size: 42px;
}

footer {
  width: 100%;
  display: flex;
  background-color: #009688;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
}

nav {
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menus {
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}
.menus a.navmenu {
  text-decoration: none;
}
.menus__ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}
.menus__ligne-menu1 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: rgba(230, 188, 167, 0.74);
}
.menus__ligne-menu1 p {
  font-size: xx-large;
  color: black;
}
.menus__ligne-menu1 .img1 {
  margin-top: 150px;
}
.menus__ligne-menu1 .title-m1 {
  font-style: italic;
  color: black;
}
.menus__ligne-menu2 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: rgba(245, 209, 223, 0.733);
}
.menus__ligne-menu2 p {
  font-size: xx-large;
  color: rgba(163, 81, 40, 0.932);
}
.menus__ligne-menu2 .title-m2 {
  margin-top: 200px;
}
.menus__ligne-menu3 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: rgba(240, 236, 236, 0.603);
}
.menus__ligne-menu3 p {
  font-size: xx-large;
  color: #4299eb;
}
.menus__ligne-menu3 .title-m3 {
  margin-top: 200px;
  color: #4299eb;
}
.menus__ligne-menu4 {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
}
.menus__ligne-menu4 p {
  font-size: xx-large;
  color: #21c42e;
}
.menus__ligne-menu4 .title-m4 {
  margin-top: 200px;
  color: #21c42e;
}

.prochainement {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.prochainement .btn {
  background-color: #009688;
  width: 200px;
  border-radius: 10px;
}
.prochainement h2 {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-ps {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-ps__title-s {
  text-align: center;
  color: black;
}
.menu-ps__sectioncard {
  height: 500px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin: 0 auto;
}
.menu-ps__pagination {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 100px;
  background-color: #009688;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

@media all and (max-width: 1024px) {
  header, .menus {
    width: auto;
  }
}
@media all and (max-width: 900px) {
  .menus__ligne {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .menus__ligne-menu1 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu2 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu3 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu4 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
