@charset "UTF-8";
/*couleurs*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #FBC02D;
  margin: 0;
}

/* ajout de polices*/
@font-face {
  /* Ajout police Pacifico pour title-m1 */
  font-family: "Pacifico-Regular";
  src: url("Pacifico-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police Sriracha pour p "menu" du menu 1 */
  font-family: "Sriracha-Regular";
  src: url("Sriracha-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police Redressed pour title-m2 */
  font-family: "Redressed-Regular";
  src: url("Redressed-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police Display pour p "menu" du menu 2 */
  font-family: "DMSerifDisplay-Regular";
  src: url("DMSerifDisplay-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police Dancing pour title-m3 */
  font-family: "DancingScript-VariableFont_wght";
  src: url("DancingScript-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  /* Ajout police Kalam pour p "menu" des menus 3 et 4  */
  font-family: "Kalam-Regular";
  src: url("Kalam-Regular.ttf") format("truetype");
}
@font-face {
  /* Ajout police pour title-m4  */
  font-family: "KaushanScript-Regular";
  src: url("KaushanScript-Regular.ttf") format("truetype");
}
/* page principale */
/* page principale pour petits écrans */
/* page secondaire */
/* pages secondaires pour petits écrans*/
header {
  width: 100%;
  display: flex;
  background-color: #009688;
}
header h1 {
  width: 1024px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 42px;
}

footer {
  width: 100%;
  display: flex;
  background-color: #009688;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
}
footer .bloc-nav {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
footer .bloc-nav h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7px;
  margin-right: 7px;
}

a.mLeg, a.contact {
  text-decoration: none;
  color: #FBC02D;
  animation: shake 1000ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite alternate-reverse;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
a.mLeg--1, a.contact--1 {
  animation-delay: 200ms;
}
a.mLeg--2, a.contact--2 {
  animation-delay: 400ms;
}
a.mLeg--3, a.contact--3 {
  animation-delay: 600ms;
}
a.mLeg--4, a.contact--4 {
  animation-delay: 800ms;
}
a.mLeg--5, a.contact--5 {
  animation-delay: 1000ms;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* page principale */
.menus {
  display: flex;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}
.menus__ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}
.menus__ligne-menu1 {
  height: 450px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: #fcdfdb;
}
.menus__ligne-menu1 a.navmenu {
  display: inline-block;
  text-decoration: none;
  margin-top: 115px;
  transition: 500ms ease-in-out;
}
.menus__ligne-menu1 a.navmenu:hover {
  transform: scale(1.15);
}
.menus__ligne-menu1 a.navmenu p {
  font-size: xx-large;
  margin-top: 10px;
  font-family: "Sriracha-Regular";
  color: #3d1319;
}
.menus__ligne-menu1 a.navmenu .img1 {
  height: 70px;
}
.menus__ligne-menu1 a.navmenu .title-m1 {
  font-family: "Pacifico-Regular";
  font-size: 26px;
  color: #3d1319;
}
.menus__ligne-menu2 {
  height: 450px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: #fff5fe;
}
.menus__ligne-menu2 a.navmenu {
  display: inline-block;
  text-decoration: none;
  margin-top: 180px;
  transition: 500ms ease-in-out;
}
.menus__ligne-menu2 a.navmenu:hover {
  transform: scale(1.15);
}
.menus__ligne-menu2 a.navmenu p {
  font-size: xx-large;
  font-family: "DMSerifDisplay-Regular";
  color: #c67412;
}
.menus__ligne-menu2 a.navmenu .title-m2 {
  font-family: "Redressed-Regular";
  font-size: 26px;
  background: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus__ligne-menu3 {
  height: 450px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  background-color: #edefef;
}
.menus__ligne-menu3 a.navmenu {
  display: inline-block;
  text-decoration: none;
  margin-top: 180px;
  transition: 500ms ease-in-out;
}
.menus__ligne-menu3 a.navmenu:hover {
  transform: scale(1.15);
}
.menus__ligne-menu3 a.navmenu p {
  font-family: "Kalam-Regular";
  font-size: xx-large;
  color: #229df9;
}
.menus__ligne-menu3 a.navmenu .title-m3 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 26px;
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus__ligne-menu4 {
  height: 450px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
}
.menus__ligne-menu4 a.navmenu {
  display: inline-block;
  text-decoration: none;
  margin-top: 180px;
  transition: 500ms ease-in-out;
}
.menus__ligne-menu4 a.navmenu:hover {
  transform: scale(1.15);
}
.menus__ligne-menu4 a.navmenu p {
  font-family: "Kalam-Regular";
  font-size: xx-large;
  color: #41963C;
}
.menus__ligne-menu4 a.navmenu .title-m4 {
  font-family: "KaushanScript-Regular";
  font-size: 26px;
  background: linear-gradient(to right, #41963C, #7dc85d, #b2f478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prochainement {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.prochainement .btn {
  background-color: #009688;
  width: 220px;
  border-radius: 10px;
}
.prochainement .btn-load:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  width: 0px;
}
@keyframes ellipsis {
  to {
    width: 30px;
  }
}
.prochainement h2 {
  display: flex;
  text-align: center;
  padding-left: 12px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* pages secondaires */
.menu-ps {
  width: 1024px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.menu-ps__title-s {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.menu-ps h4 {
  font-size: 22px;
}
.menu-ps__sectioncard-m1 {
  height: 100%;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 55%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Sriracha-Regular";
  color: #3d1319;
  background-color: #fcdfdb;
}
.menu-ps__sectioncard-m1 p {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
}
.menu-ps__sectioncard-m1 p span {
  font-weight: bold;
  float: right;
}
.menu-ps__sectioncard-m1 .img1 {
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: -60px;
}
.menu-ps__sectioncard-m1 .title-m1, .menu-ps__sectioncard-m1 .endtitle-m1 {
  font-family: "Pacifico-Regular";
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #3d1319;
}
.menu-ps__sectioncard-m1 .title-m1 {
  margin-bottom: -15px;
}
.menu-ps__sectioncard-m1 .endtitle-m1 {
  font-size: 25px;
}
.menu-ps__sectioncard-m1 .img2 {
  height: 50px;
  margin-top: 0px;
  margin-bottom: -15px;
  margin-right: 15px;
}
.menu-ps__sectioncard-subtitlesm1 {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.menu-ps__sectioncard-subtitlesm1 .imgsm1 {
  height: 5px;
  width: 35%;
  padding-top: 20px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlesm1 span {
  background: linear-gradient(to top, #3d1319 0%, #3d1319 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.3s;
}
.menu-ps__sectioncard-subtitlesm1 span:hover {
  background-size: 100% 100%;
}
.menu-ps__sectioncard-m2 {
  height: 100%;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "DMSerifDisplay-Regular";
  background-color: #fff5fe;
}
.menu-ps__sectioncard-m2 p {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
}
.menu-ps__sectioncard-m2 p span {
  font-weight: bold;
  float: right;
}
.menu-ps__sectioncard-m2 p.m2A {
  color: #c67412;
}
.menu-ps__sectioncard-m2 p.m2B {
  color: #a56799;
}
.menu-ps__sectioncard-m2 p.m2C {
  color: #6e4ccc;
}
.menu-ps__sectioncard-m2 .title-m2 {
  font-family: "Redressed-Regular";
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  background: linear-gradient(to right, #c67412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -15px;
}
.menu-ps__sectioncard-subtitlem2A {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: #c67412;
}
.menu-ps__sectioncard-subtitlem2A .imgsm2 {
  height: 12px;
  width: 45%;
  margin-left: -90px;
  margin-right: -90px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlem2A span {
  background: linear-gradient(to top, #c67412 0%, #c67412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu-ps__sectioncard-subtitlem2A span:hover {
  background-size: 100% 100%;
}
.menu-ps__sectioncard-subtitlem2B {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: #a56799;
}
.menu-ps__sectioncard-subtitlem2B .imgsm2 {
  height: 12px;
  width: 45%;
  margin-left: -90px;
  margin-right: -90px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlem2B span {
  background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu-ps__sectioncard-subtitlem2B span:hover {
  background-size: 100% 100%;
}
.menu-ps__sectioncard-subtitlem2C {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: #6e4ccc;
}
.menu-ps__sectioncard-subtitlem2C .imgsm2 {
  height: 12px;
  width: 45%;
  margin-left: -90px;
  margin-right: -90px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlem2C span {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu-ps__sectioncard-subtitlem2C span:hover {
  background-size: 100% 100%;
}
.menu-ps__sectioncard-m3 {
  height: 100%;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Kalam-Regular";
  background-color: #edefef;
}
.menu-ps__sectioncard-m3 p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
  text-align: left;
}
.menu-ps__sectioncard-m3 p span {
  font-weight: bold;
  float: right;
}
.menu-ps__sectioncard-m3 .title-m3 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -15px;
}
.menu-ps__sectioncard-subtitlem3A {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: black;
}
.menu-ps__sectioncard-subtitlem3A .imgsm3 {
  height: 10px;
  width: 45%;
  margin-left: -80px;
  margin-right: -80px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlem3A span {
  background: linear-gradient(to top, #0228dd 0%, #0228dd 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu-ps__sectioncard-subtitlem3A span:hover {
  background-size: 100% 100%;
}
.menu-ps__sectioncard-subtitlem3B {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: black;
}
.menu-ps__sectioncard-subtitlem3B .imgsm3 {
  height: 10px;
  width: 45%;
  margin-left: -80px;
  margin-right: -80px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlem3B span {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu-ps__sectioncard-subtitlem3B span:hover {
  background-size: 100% 100%;
}
.menu-ps__sectioncard-subtitlem3C {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: black;
}
.menu-ps__sectioncard-subtitlem3C .imgsm3 {
  height: 10px;
  width: 45%;
  margin-left: -80px;
  margin-right: -80px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlem3C span {
  background: linear-gradient(to top, #229df9 0%, #229df9 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu-ps__sectioncard-subtitlem3C span:hover {
  background-size: 100% 100%;
}
.menu-ps__sectioncard-m4 {
  height: 100%;
  text-align: center;
  box-shadow: 0 0 10px 0 lightgrey;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Kalam-Regular";
}
.menu-ps__sectioncard-m4 p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
  text-align: left;
}
.menu-ps__sectioncard-m4 p span {
  font-weight: bold;
  float: right;
}
.menu-ps__sectioncard-m4 .title-m4 {
  font-family: "KaushanScript-Regular";
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  background: linear-gradient(to right, #41963C, #7dc85d, #b2f478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -15px;
}
.menu-ps__sectioncard-subtitlesm4 {
  display: flex;
  width: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  color: black;
}
.menu-ps__sectioncard-subtitlesm4 .imgsm4 {
  height: 10px;
  width: 50%;
  margin-left: -80px;
  margin-right: -80px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.menu-ps__sectioncard-subtitlesm4 span {
  background: linear-gradient(to top, #b2f478 0%, #b2f478 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.menu-ps__sectioncard-subtitlesm4 span:hover {
  background-size: 100% 100%;
}

@media all and (max-width: 1024px) {
  .menus {
    width: auto;
  }

  .menu-ps {
    width: auto;
  }
}
@media all and (max-width: 900px) {
  .menus__ligne {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .menus__ligne-menu1 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu2 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu3 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .menus__ligne-menu4 {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  .menu-ps__sectioncard-m1 {
    width: 70%;
  }

  .menu-ps__sectioncard-m2 {
    width: 70%;
  }

  .menu-ps__sectioncard-m3 {
    width: 70%;
  }

  .menu-ps__sectioncard-m4 {
    width: 70%;
  }

  .imgsm1, .imgsm2, .imgsm3, .imgsm4 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
