.menus 
{
    @include blocpage;
}

.menus{
    padding-top: 50px; 
    padding-bottom: 50px;   
    flex-direction: column;
    background-color:$color-bg-menus;
}

.ligne1, .ligne2 {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

.menu1 {
    @include typomenu
}

.titre1 {

}

.menu2 {
    @include typomenu
}

.titre2 {
    
}

.menu3 {
    @include typomenu
}

.titre3 {

}

.menu4 {
    @include typomenu
}

.titre4 {

}

.prochainement
{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn 
{
    background-color: $color-primary;
    width: 200px;
    border-radius: 10px;
}

h2 {
    width:100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}