.menus 
{
    @include blocpage;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; 
    padding-bottom: 50px;   
    flex-direction: column;
    
    a.navmenu
    {
    text-decoration:none;
        // &:hover
        // {
        //  mettre en place effet fondu des liens de navig  
        // }
    }    
        &__ligne
        {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;
        
            &-menu1
            {
                @include typomenu-pp;
                background-color:$bgcolor-menu1;
                p {
                font-size: xx-large;
                margin-top: 10px;
                font-family: 'Sriracha-Regular';
                color: black;
                }
                .img1 {
                margin-top: 115px;
                }
                .title-m1{
                font-family:'Pacifico-Regular';
                font-size:26px;
                color:black;
                }
            }

            &-menu2
            {
                @include typomenu-pp;
                background-color: $bgcolor-menu2;
                p 
                {
                font-size: xx-large;
                font-family: 'DMSerifDisplay-Regular';
                color:$color-menu2;
                }
                .title-m2 {
                font-family: 'Redressed-Regular';
                font-size:26px;
                /* ajouter variation couleur */ 
                margin-top: $margin-top-menu;
                }
            }

            &-menu3 
            {
                @include typomenu-pp;
                background-color: $bgcolor-menu3;
                p 
                {
                font-family:'Kalam-Regular';
                font-size: xx-large;
                color:$color-menu3;
                }
                .title-m3 {
                font-family:'DancingScript-VariableFont_wght';
                font-size:26px;
                margin-top: $margin-top-menu;
                color:$color-menu3;
                }
            }

            &-menu4 
            {
                @include typomenu-pp;
                p 
                {
                font-family:'Kalam-Regular';
                font-size: xx-large;
                color: $color-menu4;
                }
                .title-m4 {
                font-family:'KaushanScript-Regular';
                margin-top: $margin-top-menu;
                color: $color-menu4;
                font-size:26px;
                }
            }
        }
}

.prochainement
{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    .btn 
    {
    background-color: $color-primary;
    width: 200px;
    border-radius: 10px;
    }

    h2 {
        width:100%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
