// pages secondaires

// commun à toutes les pages secondaires

.menu-ps{
    @include blocpage;
    flex-direction: column;

    &__title-s{
        text-align:center;
        color:black;
    }

    &__sectioncard{
        @include typomenu;
        margin: 0 auto;
        margin-bottom:100px;
    }
}

// propre à chaque menu



