.menus 
    {
    @include blocpage;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; 
    padding-bottom: 50px;   
    flex-direction: column;
    
    a.navmenu
    {
    text-decoration:none;
    }    
        &__ligne
        {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;
        
        &-menu1{
                @include typomenu;
                background-color:$bgcolor-menu1;
                p {
                font-size: xx-large;
                font-family: 'Sriracha-Regular';
                color: black;
                }
                .img1 {
                margin-top: 150px;
                }
                .title-m1{
                font-family:'Pacifico-Regular';
                color:black;
                }
            }

            &-menu2{
                @include typomenu;
                background-color: $bgcolor-menu2;
                p 
                {
                   font-size: xx-large;
                   font-family: 'DMSerifDisplay-Regular';
                   color:$color-menu2;
                }
                .title-m2 {
                    margin-top: $margin-top-menu;
                }
            }

            &-menu3 {
                @include typomenu;
                background-color: $bgcolor-menu3;
                p 
                {
                    font-family:'Kalam-Regular';
                   font-size: xx-large;
                   color:$color-menu3;
                }
                .title-m3 {
                    font-family:'DancingScript-VariableFont_wght';
                    margin-top: $margin-top-menu;
                    color:$color-menu3;
                }
            }

            &-menu4 {
                @include typomenu;
                p 
                {
                    font-family:'Kalam-Regular';
                   font-size: xx-large;
                   color: $color-menu4;
                }
                .title-m4 {
                    font-family:'KaushanScript-Regular';
                    margin-top: $margin-top-menu;
                    color: $color-menu4;
                }
            }
        }
    }

.prochainement
{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    .btn 
    {
    background-color: $color-primary;
    width: 200px;
    border-radius: 10px;
    }

    h2 {
        width:100%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
