// pages secondaires

// commun à toutes les pages secondaires

.menu-ps{
    @include blocpage;
    flex-direction: column;

    &__title-s{
        text-align:center;
        color:black;
    }

    &__sectioncard{
        @include typomenu;
        margin: 0 auto;
    }

    &__pagination{
        margin: 0 auto;
        margin-top:25px;
        margin-bottom: 100px;
        background-color: $color-primary;
        width: 100px;
        text-align:center;
        border-radius: 10px;
    }
}

// propre à chaque menu



