.menus 
{
    @include blocpage;
}

.menus{
    padding-top: 50px; 
    padding-bottom: 50px;   
    flex-direction: column;
}

.ligne1, .ligne2 {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

.menu1 {
    @include typomenu;
    background-color:hsla(0, 58%, 82%, 0.932);

    p 
    {
       font-size: xx-large;
       color: black;
    }
}

.img1 
    {
       margin-top: 300px;
    }

.titre1
{
    font-style: italic;
    color:black;
}

.menu2 {
    @include typomenu;
    p 
    {
       font-size: xx-large;
    }
}

.titre2 {
    margin-top: 300px;
}

.menu3 {
    @include typomenu;
    p 
    {
       font-size: xx-large;
       color:$color-menu3;
    }
}

.titre3 {
    margin-top: 300px;
    color:$color-menu3;
}

.menu4 {
    @include typomenu;
    p 
    {
       font-size: xx-large;
       color: $color-menu4;
    }
}

.titre4 {
    margin-top: 300px;
    color: $color-menu4;
    
}

.prochainement
{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn 
{
    background-color: $color-primary;
    width: 200px;
    border-radius: 10px;
}

h2 {
    width:100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}