/* page principale */ 

.menus
    {
    display: flex;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px; 
    padding-bottom: 50px;
    flex-direction: column;
    
    
        &__ligne
        {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 50px;
        
            &-menu1
            {
                @include typomenu-pp;
                background-color:$bgcolor-menu1;
                a.navmenu
                {
                    display: inline-block;
                    text-decoration:none;
                    margin-top: 115px;
                    transition: 500ms ease-in-out;
                    
                    &:hover
                    {
                        transform: scale(1.15);
                    }
                    
                    p {
                        font-size: xx-large;
                        margin-top: 10px;
                        font-family: 'Sriracha-Regular';
                        color: $color-menu1;
                    }
                    
                    .img1
                    {
                        height:70px;
                    }
                    .title-m1{
                    font-family:'Pacifico-Regular';
                    font-size:26px;
                    color:$color-menu1;
                    }
                }       
            }

            &-menu2
            {
                @include typomenu-pp;
                background-color: $bgcolor-menu2;
                a.navmenu
                {
                    display: inline-block;
                    text-decoration:none;
                    margin-top: $margin-top-menu;
                    transition: 500ms ease-in-out;
                
                    &:hover
                    {
                    transform: scale(1.15);
                    }
                    p 
                    {
                    font-size: xx-large;
                    font-family: 'DMSerifDisplay-Regular';
                    color:$color-menu2A;
                    }
                    .title-m2 {
                    font-family: 'Redressed-Regular';
                    font-size:26px;
                    background:$degrade-menu2;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                }
            }

            &-menu3 
            {
                @include typomenu-pp;
                background-color: $bgcolor-menu3;
                a.navmenu
                {
                    display: inline-block;
                    text-decoration:none;
                    margin-top: $margin-top-menu;
                    transition: 500ms ease-in-out;
                
                    &:hover
                    {
                    transform: scale(1.15);
                    }
                    p 
                    {
                    font-family:'Kalam-Regular';
                    font-size: xx-large;
                    color:$color-menu3C;
                    }
                    .title-m3 {
                    font-family:'DancingScript-VariableFont_wght';
                    font-size:26px;
                    background:$degrade-menu3;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                }
            }
            &-menu4 
            {
                @include typomenu-pp;
                a.navmenu
                {
                    display: inline-block;
                    text-decoration:none;
                    margin-top: $margin-top-menu;
                    transition: 500ms ease-in-out;
                
                    &:hover
                    {
                    transform: scale(1.15);
                    }
                    p 
                    {
                    font-family:'Kalam-Regular';
                    font-size: xx-large;
                    color: $color-menu4A;
                    }
                    .title-m4 {
                    font-family:'KaushanScript-Regular';
                    font-size:26px;
                    background:$degrade-menu4;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

.prochainement
{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    
    .btn 
    {
    background-color: $color-primary;
    width: 220px;
    border-radius: 10px;
    display:flex;
        text-align: center;
        padding-left: 12px;
        padding-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;

        &-load:after 
        {
            font-size:24px;
            margin-top: 5px;
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;    
            animation: ellipsis steps(4,end) 900ms infinite;
            content : "\002026";
            width: 2px;
        }
      
        @keyframes ellipsis 
        {
            to {
            width: 30px;    
            }
        }
    }

    h2 
    {
        display:flex;
        text-align: center;
        padding-left: 12px;
        padding-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


/* pages secondaires */ 

.menu-ps
{
    width:1024px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    &__title-s
    {
        text-align:center;
        color:black;
        font-weight: bold;
        font-size: 30px;
    }

    h4
    {
        font-size:22px;
    }
    
    &__sectioncard-m1
    {
        @include typomenu-ps;
        width: 55%;
        display:flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%; 
        font-family: 'Sriracha-Regular';
        color: $color-menu1;
        background-color: $bgcolor-menu1;
        
        p 
        {
            margin-top: 2px;
            margin-bottom: 2px;
            text-align: left;
            span
            {
            font-weight: bold;
            float: right;
            }
        }
        
        .img1
        {
            height:70px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: -60px;
        }
        .title-m1, .endtitle-m1
        {
            font-family:'Pacifico-Regular';
            @include typo-titre-ps-m1-m2;
            color:$color-menu1;
        }

        .title-m1
        {
            margin-bottom:-15px;
        }

        .endtitle-m1
        {
            font-size: 25px;
        }
        .img2
        {
            height:50px;
            margin-top: 0px;
            margin-bottom: -15px;
            margin-right:15px;
        }
    }

    &__sectioncard-subtitlesm1
    {
        
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;

        .imgsm1
        {
            height:5px;
            width:35%;
            padding-top:20px;
            margin-bottom: 0px;
        }

        span
        {
            background: linear-gradient(to top, $color-menu1 0%, $color-menu1 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .3s;
            &:hover 
            {
                background-size: 100% 100%;
            }
        }
    }

    &__sectioncard-m2
    {
        @include typomenu-ps;
        width: 50%;
        display:flex;
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
        font-family:'DMSerifDisplay-Regular';
        background-color: $bgcolor-menu2;

        p 
        {
            margin-top: 2px;
            margin-bottom: 2px;
            text-align: left;
            span
            {
            font-weight: bold;
            float: right;
            }
            &.m2A{
                color:$color-menu2A;
            }
            &.m2B{
                color:$color-menu2B;
            }
            &.m2C{
                color:$color-menu2C;
            }
        }
        
        .title-m2
        {
            font-family: 'Redressed-Regular';
            @include typo-titre-ps-m1-m2;
            background: $degrade-menu2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom:-15px;
        }    
    }

    &__sectioncard-subtitlem2A
    {
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;
        color:$color-menu2A;
        
        .imgsm2
        {
            height:12px;
            width:49%;
            margin-left: -70px;
            margin-right: -70px;
            padding-top:7px;
            margin-bottom: 0px;
        }

        span {
            font-size: 17px;
            background: linear-gradient(to top, $color-menu2A 0%, $color-menu2A 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
            &:hover 
            {
                background-size: 100% 100%;
            }   
        }
    }

    &__sectioncard-subtitlem2B
    {
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;
        color:$color-menu2B;
        
        .imgsm2
        {
            height:12px;
            width:49%;
            margin-left: -70px;
            margin-right: -70px;
            padding-top:7px;
            margin-bottom: 0px;
        }
        span
        {
            font-size: 17px;
            background: linear-gradient(to top, $color-menu2B 0%, $color-menu2B 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
            &:hover 
            {
                background-size: 100% 100%;
            }
        }
    }

    &__sectioncard-subtitlem2C
    {
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;
        color:$color-menu2C;
        
        .imgsm2
        {
            height:12px;
            width:49%;
            margin-left: -70px;
            margin-right: -70px;
            padding-top:7px;
            margin-bottom: 0px;
        }
        span
        {
            font-size: 17px;
            background: linear-gradient(to top, $color-menu2C 0%, $color-menu2C 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
            &:hover 
            {
                background-size: 100% 100%;
            }
        }
    }
    
    &__sectioncard-m3
    {
        @include typomenu-ps;
        width: 50%;
        display:flex;
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
        font-family:'Kalam-Regular';
        background-color: $bgcolor-menu3;

        p 
        {
            margin-top: 2px;
            margin-bottom: 2px;
            color:black;
            text-align: left;
            span
            {
            font-weight: bold;
            float: right;
            }
        }
        
        .title-m3
        {
            font-family:'DancingScript-VariableFont_wght';
            @include typo-titre-ps-m3-m4;
            background:$degrade-menu3;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom:-15px;
        }   
    }

    &__sectioncard-subtitlem3A
    {
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;
        color:black;
        
        .imgsm3
        {
            height:10px;
            width:40%;
            margin-left: -50px;
            margin-right: -50px;
            padding-top:10px;
            margin-bottom: 0px;
        }
        
        span
        {
            font-weight: normal;
            background: linear-gradient(to top, $color-menu3A 0%, $color-menu3A 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
            &:hover 
            {
                background-size: 100% 100%;
            }
        }
    }

    &__sectioncard-subtitlem3B
    {
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;
        color:black;
        
        .imgsm3
        {
            height:10px;
            width:40%;
            margin-left: -50px;
            margin-right: -50px;
            padding-top:10px;
            margin-bottom: 0px;
        }
        span
        {
            font-weight: normal;
            background: linear-gradient(to top, $color-menu3B 0%, $color-menu3B 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
            &:hover 
            {
                background-size: 100% 100%;
            }   
        }
    }

    &__sectioncard-subtitlem3C
    {
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;
        color:black;
        
        .imgsm3
        {
            height:10px;
            width:40%;
            margin-left: -50px;
            margin-right: -50px;
            padding-top:10px;
            margin-bottom: 0px;
        }
        
        span
        {
            font-weight: normal;
            background: linear-gradient(to top, $color-menu3C 0%, $color-menu3C 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
            &:hover 
            {
                background-size: 100% 100%;
            }
        }
    }

    &__sectioncard-m4
    {
        @include typomenu-ps;
        width: 50%;
        display:flex;
        flex-direction: column;
        padding-left: 7%;
        padding-right: 7%;
        font-family:'Kalam-Regular';

        p 
        {
            margin-top: 2px;
            margin-bottom: 2px;
            color:black;
            text-align: left;
            span
            {
            font-weight: bold;
            float: right;
            }
        }

        .title-m4
        {
            font-family:'KaushanScript-Regular';
            @include typo-titre-ps-m3-m4;
            background:$degrade-menu4;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom:-15px;
        }    
    } 

    &__sectioncard-subtitlesm4
    {
        display:flex;
        width:auto;
        margin-top:50px;
        margin-bottom:10px;
        justify-content: space-between;
        color:black;
        
        .imgsm4
        {
            height:10px;
            width:46%;
            margin-left: -50px;
            margin-right: -50px;
            padding-top:10px;
            margin-bottom: 0px;
        }
        
        span
        {
            font-weight: normal;
            background: linear-gradient(to top, $color-menu4C 0%, $color-menu4C 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            transition: background-size .5s;
            &:hover 
            {
                background-size: 100% 100%;
            }
        }
    }
}
