@media all and (max-width:1024px) {
    .menus
    {
        width:auto;
    }
}

@media all and (max-width:900px) 
{
    
    .menus__ligne 
    {
        flex-direction: column;
        padding-bottom: 0px;
        &-menu1
        {
            @include small-typomenu;
        }

        &-menu2
        {
            @include small-typomenu;
        }

        &-menu3
        {
            @include small-typomenu;
        }

        &-menu4
        {
            @include small-typomenu;
        }
    }
}

// (re)faire media query à partir de 750/800px pour pages secondaires
// .menus-ps 
// {
//     &__sectioncard-m1
//     {
//         @include small-typomenu-ps;
//     }

//     &__sectioncard-m2
//     {
//         @include small-typomenu-ps;
//     }

//     &__sectioncard-m3
//     {
//         @include small-typomenu-ps;
//     }

//     &__sectioncard-m4
//     {
//         @include small-typomenu-ps;
//     }
// }