@media all and (max-width:1024px) {
    .menus /* page principale */
    {
        width:auto;
    }
    .menu-ps /* page secondaire */
    {
        width:auto;
    }
}

@media all and (max-width:900px) 
{
    
    .menus__ligne /* page principale */
    {
        flex-direction: column;
        padding-bottom: 0px;
        &-menu1
        {
            @include small-typomenu;
        }

        &-menu2
        {
            @include small-typomenu;
        }

        &-menu3
        {
            @include small-typomenu;
        }

        &-menu4
        {
            @include small-typomenu;
        }
    }

    .menu-ps__sectioncard-m1 /* page secondaire */
    {
        @include small-typomenu-ps;
    }

    .menu-ps__sectioncard-m2 /* page secondaire */
    {
        @include small-typomenu-ps;
    }

    .menu-ps__sectioncard-m3 /* page secondaire */
    {
        @include small-typomenu-ps;
    }

    .menu-ps__sectioncard-m4 /* page secondaire */
    {
        @include small-typomenu-ps;
    }

    .imgsm1, .imgsm2, .imgsm3, .imgsm4 {
        display:none;
    }
}