@mixin blocpage 
{
    width: 100%;
    display: flex;
}

@mixin typomenu
{
    height: 500px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px 0 $color-txt;
}

@mixin small-typomenu
{
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}