/*couleurs*/
$color-txt:#FBC02D;
$color-primary:#009688;
$bgcolor-menu1:hsla(20, 56%, 78%, 0.74);
$bgcolor-menu2:hsla(337, 64%, 89%, 0.733);
$color-menu2:rgba(163, 81, 40, 0.932);
$bgcolor-menu3: rgba(240, 236, 236, 0.603);
$color-menu3: #4299eb;
$color-menu4:#21c42e;

$margin-top-menu:180px;

