footer
{  
    @include blocpage;
    background-color: $color-primary;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom:0;
}

nav {
    margin-left: 10%;
    margin-right: 10%;
}


h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}